{{> head }}
{{> navbar}}

<div class="row">
    <div class="col-8">
        <h1>Everest</h1>
        <p>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Id tempore nemo maxime? Provident nemo voluptatum eveniet eius consectetur harum, sequi voluptates? Inventore, tempore ex illo illum ab provident ullam quos.</p>
    </div>
    <div class="col-4">
        <img src="assets/img/Everest.jpg" alt="" class="img-thumbnail">
    </div>
</div>

{{> footer}}